@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Irish+Grover&family=Pacifico&display=swap');
:root{
    --brown:rgba(142, 128, 99, 0.58);
    --font-color: rgba(0, 0, 0, 1);
    --family: Irish Grover;
    --size: 16px;
    --weight: 400;
    --height: 100%;
    --font-logo:Inspiration;
    --font-mass:Pacifico;
    --back-mass: rgba(255, 252, 213, 1);
}
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(125deg,#FBEAB7,#958B6D,#8E806394);
}
.js{    
    justify-content: space-between;
    display: flex;
}
.jc{
    justify-content: center;
    display: flex;
}

header{
    display: flex;
    padding: 10px 14px;
    justify-content: space-between;
    height: 64px;
    background-color: var(--brown);
    align-items: center;

}
.logo{
    font-family:var(--font-logo);
    font-size: 40px;
    font-weight: var(--weight);

}
.gr-butt{
    display: flex;
    justify-content: space-around;
    width: 35%;
    align-items: center;

}
a, p{
    text-decoration: none;
    color:black;
    color: rgba(0, 0, 0, 1);
    font-family: var(--font-mass);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin-right: 30px;

}
.first h1{
    font-family: var(--family);
    font-size: 40px;
}
.first .massege{
    margin: 20px;
    font-size: 24px;
    padding: 20px 38px;
    font-family: var(--font-mass);
    border-radius: 92px;
    background-color:var(--back-mass);
    width: 23%;
}
.first h5{
    width: 450px;
    color: rgba(0, 0, 0, 1);
    font-family: var(--font-mass);
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
}

section{
width: 100%;
height: 64px;
    background-color: #958B6D;
}
.secound{
    padding:48px 67px ;
}
.secound .header{
    justify-content: center;
}
.secound .massege{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}
.secound .row{
    margin-top: 200px;
}
.secound .card{
    flex-direction: column;
    justify-content: center;
     border-radius: 47px;
width: 298px;
height: 426px;
overflow: hidden;
background-color: var(--back-mass);
}
.secound img{
    object-fit: contain;
    width: auto;
    height: 100%;;
}
.secound p{
    line-height:55px;
    text-align: center;
    border-radius: 90px;
    background: rgba(221, 207, 172, 0.99);
    margin-top: -65px;
    margin-bottom: -10px;
    width: 313px;
    height: 62px;
    font-size: 24px;
}