@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Irish+Grover&family=Pacifico&display=swap');
:root{
    --brown:rgba(142, 128, 99, 0.58);
    --font-color: rgba(0, 0, 0, 1);
    --family: Irish Grover;
    --size: 16px;
    --weight: 400;
    --height: 100%;
    --font-logo:Inspiration;
    --font-mass:Pacifico;
    --back-mass: rgba(255, 252, 213, 1);
}
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(-90deg,#958B6D,#EBDBAB,#FBEAB7);
}
.js{    
    justify-content: space-around;
    display: flex;
}
.jc{
    justify-content: center;
    display: flex;
}

header{
    display: flex;
    padding: 10px 14px;
    justify-content: space-between;
    height: 64px;
    background-color: var(--brown);
    align-items: center;

}
.logo{
    font-family:var(--font-logo);
    font-size: 40px;
    font-weight: var(--weight);

}
.gr-butt{
    display: flex;
    justify-content: space-around;
    width: 35%;
    align-items: center;

}
a, p{
    text-decoration: none;
    color:black;
    color: rgba(0, 0, 0, 1);
    font-family: var(--font-mass);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin-right: 30px;

}
.first h1{
    font-family: var(--family);
    font-size: 40px;
}
.first .massege{
    margin: 20px;
    font-size: 24px;
    padding: 20px 38px;
    font-family: var(--font-mass);
    border-radius: 92px;
    background-color:var(--back-mass);
    width: 23%;
}
.first h5{
    width: 450px;
    color: rgba(0, 0, 0, 1);
    font-family: var(--font-mass);
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
}

section{
width: 100%;
height: 64px;
    background-color:  rgba(142, 128, 99, 0.58);;
}
.secound{
    padding:0px 50px 67px ;
}
.secound .header{
    justify-content: center;
}
.secound .massege, .forth .massege{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}
.secound .char{
    flex-wrap: wrap;
}
.secound .row{
    margin: 20px 0px 40px;
}
.secound .card{
    margin: 20px ;
    flex-direction: column;
    justify-content: center;
}
.secound .back{
    flex-direction: column;
    justify-content: center;
    border-radius: 47px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--back-mass);
}
.secound img{
    object-fit: contain;
    width: auto;
    height: 100%;
}
.secound p{
    margin: -62px 0px 0px -0px;
    line-height:55px;
    text-align: center;
    border-radius: 90px;
    background: rgba(221, 207, 172, 0.99);
    width: 400px;
    height: 62px;
    font-size: 24px;
}
.third{

}
.third .massege{
    width: 80%;
}
.third .massege p{
    font-weight: lighter;
    font-size: 24px;
}
.third .massege h4{
    margin: 0px ;
    font-size: 40px;
    font-weight: 100;
}
.third .massege .dial{
    margin-left: 10%;
    width: 100%;
}
.forth{
    align-items: center;
    flex-direction: column;
}
.forth .fotos{
    width: 90%;
    border-radius: 42px;
    background: rgba(255, 252, 213, 1);
    padding: 8px 23px;
}
.forth .fotos img{
    margin: 0 30px;
    width: 90%;
}
.forth .massege .he{
    width: 80%;
    font-size: 20px;
}
.forth .massege {
    width: 20px;
    font-size: 40px;
}
.info{
    width: 100%;
}